.carrito-container {
    background: linear-gradient(to right, #f9f9f9, #ffffff);
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1800px;
    margin: 10px;
  }
  